<html>

	{% include "app1/head.html" %}
	<body>
		<div class="card" style="background-color: rgba(255, 255, 255, 0.8);">
		<div class="container">
			<h1>Welcome to Shoe Expert!</h1>
			<h4>This website will help you find your ideal running shoe. Create an account to get access to a wide database of shoes, detailed specifications, and personalized recommendations.</h4>
			<br>
			<h1>How to Use Shoe Expert:</h1>
			<h4>For those looking to find their new favorite shoe, use our filtering option to receive personalized recommendations.</h4>
			<br>
			<h1>Description of Features</h1>
			<h2>Cushioning</h2>
			<h4>Plush means the shoe is meant to feel soft when running. Balanced means the shoe is more responsive and provides greater energy return.</h4>
			<br>
			<h2>Flexibility</h2>
			<h4>Ability of the sole to bend.</h4>
			<br>
			<h2>Heel to Toe Drop</h2>
			<h4>Difference between forefoot height and heel height. A shoe with a lower value will be closer to flat and feel more like running barefoot.</h4>
			<br>
			<h2>Strike Pattern</h2>
			<h4>Strike pattern describes the where the foot hits the ground during a run. Different shoes provide different support for different kinds of strike patterns</h4>
			<br>
		</div>
	</body>

</html>
