<html>
  <head>
    {% include "app1/bootstrap.html" %} {% load static %}
  </head>
  <body>
    {% include "app1/navigation.html" %} <div class="container">
      <div class = "jumbotron">
        <h1>Welcome to Shoe Expert!</h1>
	<h4>This website will help you find your ideal running shoe. Create an account to get access to a wide database of shoes, detailed specifications, and personalized recommendations.</h4>
	<h1>How to Use Shoe Expert:</h1>
	<h4>For those looking to find their new favorite shoe, use our filtering option to receive personalized recommendations.</h4>
   </body>
  </html>
