<html>

{% include "app1/head.html" %}

<body>
	<div class="container">
		<h1> Running Shoes </h1>
		<div class="card" style="background-color: rgba(255, 255, 255, 0.4);">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"></th>
								{% for header in headers %}
								<th scope="col">{{header}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% block content %}
							{% for value in shoes %}
							<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{value.shoe_name}}</td>
								{% for field in fields %}
								<td>{{ value.field }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
							{% endblock %}
						</tbody>
					</table>
				</div>

				<!-- Add Bootstrap pagination links -->
				<div class="d-flex justify-content-center mt-4">
					<nav>
						<ul class="pagination">
							{% if shoes.has_previous %}
								<li class="page-item">
									<a class="btn btn-outline-dark" href="?page=1">&laquo; first</a>
								</li>
								<li class="page-item">
									<a class="btn btn-outline-dark" href="?page={{ shoes.previous_page_number }}">previous</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="btn btn-outline-dark disabled" aria-disabled="true">&laquo; first</span>
								</li>
								<li class="page-item disabled">
									<span class="btn btn-outline-dark disabled" aria-disabled="true">previous</span>
								</li>
							{% endif %}

							{% for i in shoes.paginator.page_range %}
								{% if shoes.number == i %}
									<li class="page-item active">
										<span class="btn btn-outline-dark active" aria-pressed="true">{{ i }} <span class="sr-only">(current)</span></span>
									</li>
								{% else %}
									<li class="page-item">
										<a class="btn btn-outline-dark" href="?page={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}

							{% if shoes.has_next %}
								<li class="page-item">
									<a class="btn btn-outline-dark" href="?page={{ shoes.next_page_number }}">next</a>
								</li>
								<li class="page-item">
									<a class="btn btn-outline-dark" href="?page={{ shoes.paginator.num_pages }}">last &raquo;</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="btn btn-outline-dark disabled" aria-disabled="true">next</span>
								</li>
								<li class="page-item disabled">
									<span class="btn btn-outline-dark disabled" aria-disabled="true">last &raquo;</span>
								</li>
							{% endif %}
					</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>
</body>

</html>
